body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#ddd;
    font-family:Arial;
}

.header{
    width: 100%;
    padding: 20px 30px;
    background: white;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.home-btn{
    padding: 8px 16px;
    border-radius: 8px;
    background: #222;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
}

.home-btn:hover{
    opacity: 0.85;
}


.auth-container{
    background:white;
    padding:40px;
    width:320px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    text-align:center;
}

.auth-container h2{
    margin-bottom:20px;
}

.auth-container input{
    width:100%;
    padding:10px;
    margin:10px 0;
    border-radius:6px;
    border:1px solid #ccc;
}

.auth-container button{
    width:100%;
    padding:10px;
    background:#222;
    border:none;
    border-radius:6px;
    font-size:16px;
    cursor:pointer;
    color: white;
}

.auth-container a{
    text-decoration:none;
    color: darkblue;
}


.alert {
    padding: 12px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    font-size: 14px;
    animation: slideDown 0.3s ease;
}

.alert-error {
    background-color: #fee;
    border: 1px solid #fcc;
    color: #c33;
}

.alert-success {
    background-color: #efe;
    border: 1px solid #cfc;
    color: #3c3;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
